<html>
  <head>
    <title>Fin</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/componentsBehaviours.js"></script>
  </head>

  <body>
    <h1>{{message}}</h1>
    <h2>G R A C I A S por tu participación.</h2>
    <br>
    <input type="button" id="id-btn-next-batch" value="Etiquetar otro batch de videos" style="font-size: 16;" onclick="clickOnNextBatch()">
    <br>
    <br>
    
    
  </body>
  
  <footer><a href="/logout" style="color: white;">Cerrar sesión</a></footer>

</html>