<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Inicio</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/login">Inicio de sesión</a></li>
        <li><a href="/register">Crear una cuenta</a></li>
      </ul>
    </nav>

    <h1>Plataforma para Etiquetado de Dataset de Videos</h1>

    {% if current_user.is_authenticated %}
      <p>Favor de volver a iniciar sesión.</p>
      
    {% else %}
      <p style="color: gray;">AVISO: No has iniciado sesión aún.</p>
    {% endif %}


    <h2>Información General</h2>
    <p>Si aún <b>no tienes una cuenta</b>, favor de crear una.</p>
    <p>Si ya <b>tienes una cuenta pero olvidaste nombre de usuario y/o contraseña</b> favor de escribir a: itzel.tlelo@gmail.com</p>
    <br>
    <p><b>Una vez iniciada la sesión en la plataforma de etiquetado:</b> </p>
    <p>1. Se te mostrarán videos de aproximadamente 1 minuto de longitud. </p>
    <p style="color: gray;">Cada video se reproducirá automáticamente (al finalizar podrás repetirlo de ser necesario).</p>
    <p>2. Se te harán preguntas acerca del contenido del video. </p>
    <p style="color: gray;">Es importante contestar el mayor número de preguntas. Esto nos ayudará a tener una mejor idea del contenido de los videos.</p>
    <br>
    <p><b>Notas:</b></p>
    <p>- Una vez enviada la información de cada video no se permite retroceder, favor de prestar atención a las respuestas dadas.</p>
    <p>- Tu progreso de etiquetado es guardado continuamente, por lo tanto puedes cerrar sesión y volver a etiquetar en cualquier momento dentro del tiempo asignado.</p>
    <br>
    <p>Gracias por tu participación.</p>
    <p>:)</p>

  </body>
</html>