<html>
  <head>
    <title>Etiquetado de Video</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>{{message}}</h1>

    <div class="container">
      <div class="column">
        <h2>Video</h2>
        <p>A continuación se te mostrará el video."</p>
        <p style="color: orange;">En caso de no poder reproducirlo marcarlo como "no relevante" y presionar el botón "Guardar y continuar"</p>
        
        <video width="640" height="480" controls="" autoplay="">
          <source src="{{ video_path }}" type="video/mp4" />
        </video>
    
        <h2>Guía para Etiquetar</h2>
          
          <button type="button" class="collapsible">¿A qué se refiere el <b>tipo de contenido</b>?</button>
          <div class="content">
            <p>Contenido <b>no negativo/neutral</b>: videos de temática general.</p>
            <p>Contenido <b>negativo/inapropiado</b>: videos ofensivos, violentos, vulgares, etc; en los que no se identifica un "factor de causa" claro.</p>
            <p>Contenido de <b>discurso de odio</b>: videos en los que el "factor" por el que se da la agresión sí es claro.</p>
            <br>
            <p>El <b>factor</b> está asociado a cuestiones de:</p>
            <p>- Discriminación (considerando etnicidad, nacionalidad, raza, etc.)</p>
            <p>- Sexismo (considerando género (p. ej. misoginia, androginia), LGBTQ+, etc.)</p>
            <p>- Otros (considerando religión, clasismo, etc.)</p>
          </div>
          <br>
          <br>
          <button type="button" class="collapsible">¿Qué se considera <b>discurso de odio</b>?</button>
          <div class="content">
            <p>Definición: "<b>Toda aquella forma de comunicación</b>, ya sea por habla, escrita o de comportamiento que <b>ataca y/o usa lenguaje despectivo</b>, hacia un individuo o grupo, <b>basado en características propias de su identidad</b>. Por ejemplo, su religión, etnicidad, nacionalidad, raza, color, descendencia, género u otros factores de identidad."</p>
            <p>Nota: Para que "sea discurso de odio" debería poder identificarse con facilidad a quién y el "factor" por el que va dirigida la intención.</p>
            <br>
            <p>El <b>factor</b> está asociado a cuestiones de:</p>
            <p>- Discriminación (considerando etnicidad, nacionalidad, raza, etc.)</p>
            <p>- Sexismo (considerando género (p. ej. misoginia, androginia), LGBTQ+, etc.)</p>
            <p>- Otros (considerando religión, clasismo, etc.)</p>
          </div>
          <br>
          <br>
          <button type="button" class="collapsible">¿Cuál sería un video <b>no relevante</b>?</button>
          <div class="content">
            <p>- Un video que no se puede reproducir</p>
            <p>- Un video que no está en español mexicano (ESP-MX)</p>
            <p>- Un video con duración menor a 10 segundos</p>
            <p>- Un video que únicamente contiene música instrumental</p>
          </div>

          <br>
          <br>
          <div id="div-hs-content" style="display: none;">
            <button type="button" class="collapsible">¿A qué se refiere con el <b>tipo de comunicación</b>?</button>
            <div class="content">
              <p>Verbal: conversaciones, expresiones habladas, entrevistas</p>
              <p>No Verbal: lenguaje corporal, expresiones faciales</p>
              <p>Visual: imágenes, símbolos</p>
              <p>Textual: subtítulos</p>
              <p>En Masa: informativo</p>
            </div>
          </div>
      </div>
      
      <div class="column">
        <h2>Preguntas a responder</h2>
        <p style="color: gray;">Favor contestar la mayor cantidad de preguntas sobre el video que acabas de ver.</p>

        <form id="myForm" onsubmit="return submitForm()">
          <!-- Q0. ¿El video es relevante? -->
          <div class="class-relevant-or-not">
            <p>¿El video es relevante?</p>
            <input type="radio" id="id-default" name="relevant-tag" value="-1" style="display: none;" checked>
            
            <input type="radio" id="id-relevant" name="relevant-tag" value="1">
            <label for="id-relevant">Sí</label><br>
            <input type="radio" id="id-no-relevant" name="relevant-tag" value="0">
            <label for="id-no-relevant">No (p. ej. N/A, No es ESP-MX, es un video musical, duración < 10s)</label><br>
          </div>

          <!-- Q1. ¿Clase de Contenido? -->
          <div id="class-hs-or-not" style="display: none;">
            <p>¿Qué clase de contenido percibes en el video?</p>
            <input type="radio" id="id-content-default" name="hs-tag" value="-1" style="display: none;" checked>
            
            <input type="radio" id="id-no-negative" name="hs-tag" value="0">
            <label for="id-no-hate-speech">Contenido no negativo y/o neutral</label><br>
            <input type="radio" id="id-negative" name="hs-tag" value="1">
            <label for="id-hate-speech">Contenido negativo y/o inapropiado (ofensivo, violento, vulgar, etc.)</label><br>
            <input type="radio" id="id-hate-speech" name="hs-tag" value="2">
            <label for="id-hate-speech">Contenido de discurso de odio</label><br>
          </div>

          <!-- En caso de ser HATE-SPEECH -->
          <div id="class-hs-selected" style="display: none;">
            <!-- Q. ¿Factor identificado? -->
            <div id="class-hs-factor">
              <p>¿Cuál es el factor que identificas?</p>
              <input type="radio" id="id-factor-neutral" name="factor-tag" value="-1" style="display: none;" checked>
              
              <input type="radio" id="id-factor1" name="factor-tag" value="1">
              <label for="id-id-factor1">Discriminación por: racismo (etnicidad, nacionalidad, raza)</label><br>
              <input type="radio" id="id-factor2" name="factor-tag" value="2">
              <label for="id-factor2">Discriminación por: sexismo (misoginia,androginia), identidad/preferencia (LGBTQ+)</label><br>
              <input type="radio" id="id-factor3" name="factor-tag" value="3">
              <label for="id-factor3">Otros por: religión, clasismo, etc. </label><br>
  
            </div>
          </div>

          <!-- Q. ¿Qué tan seguro estás de tu respuesta? -->
          <div id="class-confidence" style="display: none;">
            <p>¿Qué tan seguro estás de tu/tus respuestas?</p>
            <input type="radio" id="id-confidence-nan" name="confidence-tag" value="-1" style="display: none;" checked>
            
            <input type="radio" id="id-no-muy-seguro" name="confidence-tag" value="1">
            <label for="id-no-muy-seguro">No muy seguro</label><br>
            <input type="radio" id="id-seguro" name="confidence-tag" value="2">
            <label for="id-seguro">Seguro</label><br>
            <input type="radio" id="id-muy-seguro" name="confidence-tag" value="3">
            <label for="id-muy-seguro">Muy seguro</label><br> 
          </div>
        
          <div id="class-comments" style="display: none;">
            <p>¿Algunos comentarios adicionales?</p>
            <textarea rows="5" cols="60" name="txt-notes" placeholder="Escribe tus comentarios..."></textarea>
            <br>
          </div>
          <br>
          <input type="submit" id="id-btn-video-annotation" value="Guardar y Continuar" style="display: none; font-family: sans-serif; font-size: 16px;">
          <p style="color: #FF0000;">No olvides presionar el botón "Guardar y Continuar" para no perder tus respuestas.</p>
        </form>
        <br>
      <!-- end div column -->
      </div>
      <!-- end div container -->
    </div>
    <br>
    <br>
    <footer><a href="/logout" style="color: white;">Cerrar sesión</a></footer>
    
    
    <script src="/static/componentsBehaviours.js" charset="utf-8"></script>
  </body>
</html>